.commentForm {
    padding-bottom: 10px;
    border-bottom: 8px solid rgba(33, 83, 150, 0.1);
    padding-right: 10px;
}

.commentForm > form {
    display: flex;
    flex-direction: column;
}

.commentForm--input {
    padding: 20px;
    display: flex;
}

.commentForm--input > textarea {
    flex: 1;
    margin-left: 20px;
    font-size: 17px;
    font-weight: 550;
    border: none;
    resize: none;
    background-color: rgba(135, 206, 250, 0);
}

.commentForm--footer {
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
}

.commentForm--inputImage {
    border: none;
    padding: 10px;
    background-color: rgba(135, 206, 250, 0);
    font-weight: 550;
}

.commentForm--button {
    background-color: var(--twitter-color) !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 40px !important;
    width: 80px !important;
    margin-top: 20px !important;
    margin-left: auto !important;
}